body{
    background-color: #000000;
    color: #ffffff;
}

.otp-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp-box-list{
    display: flex;
}


.otp-box-list .otp-box{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px teal;
    border: none;
    border-radius: 5px;
}

/* otp message print */

.otp-validate-message{
    border-radius: 5px;
    padding: 2px;
}

.otp-validate-message.success{
    color: Green;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid green;
}

.otp-validate-message.fail{
    color: red;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid red;
}